body {
  color: #444452;
  font-family: "Open Sans", "Source Sans Pro", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 2.5rem;
  font-weight: 300;
}
::selection {
  background: #0adad7;
  color: white;
}
::-moz-selection {
  background: #0adad7;
  color: white;
}
.switch-wrapper-language {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    top: 30px;
    left: 46vw;
    font-weight: 300;
    font-size: 1rem;
}
#toggleEs, #toggleEn {
    font-weight: 600;
    cursor: pointer;
}
.titleapp {
  color: #0adad7;
}
.box:hover {
  transform: translate(0, -10px);
}
.boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 25px;
  position: relative;
}
.box {
  box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
  transition: 0.3s;
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
  -moz-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding: 4rem 3rem;
  height: 100%;
  border-radius: 3px;
  background-color: #0adad7;
}
.featuresTitles {
  margin: 0px auto;
  padding-bottom: 50px;
  font-size: 32px;
  color: white;
  color: #0adad7;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 22px;
}
.logos{
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
  align-items: center;
  -moz-box-align: center;
  margin-bottom: 30px;
}
.list {
  display: flex;
  align-items: flex-end;
  -moz-box-flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 0px;
  margin: 20px 0px 0px;
  list-style: outside none none;
}
.list li {
  font-family: SF Mono, Monaco, monospace;
  font-size: 12px;
  color: #015D8A;
  line-height: 1.75;
  margin-right: 15px;
}
.assetstitle h5 {
  margin: 0px 0px 10px;
  font-size: 22px;
  color: rgb(204, 214, 246);
  color: white;
  font-weight: 600;
  line-height: inherit;
}
.assetsdetail {
  font-size: 17px;
  color: rgb(168, 178, 209);
  color: white;
  font-size: 17px;
}
.intro {
  padding: 100px 120px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 1440px;
  margin: 0 auto;
  background-image: url(../archive/homeapp.png);
  background-repeat: no-repeat;
  background-size: 37vh;
  background-position: 1000px 245px;
}
.app {
  max-width: 115px;
  line-height: 1.3;
  font-weight: 300;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  font-family: 'Suez One', serif;
}
.tagline {
  max-width: 900px;
  line-height: 1.5;
  font-size: 2.3rem;
  padding-top: 150px;
}
.mail {
  font-size: 1rem;
  font-weight: bold;
}
.emoji {
  display: inline-block;
  vertical-align: text-top;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
}
.link {
  background-image: url(../archive/gitlab.png);
  width: 30px;
  height: 30px;
  margin: 0 5px;
  vertical-align: text-bottom;
}
.geo {
  background-image: url(../archive/map.png);
  width: 30px;
  height: 30px;
  margin: 0 5px;
  vertical-align: text-bottom;
}
.git {
  color: #444452;
}
.highlight-link {
  padding: 10px 10px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: inset 0 -5px 0 #0adad7;
}
.highlight-link:hover {
  transition: all 0.2s ease-in-out;
  box-shadow: inset 0 -55px 0 0 #0adad7;
  color: white;
  cursor: pointer;
}
a {
  color: black;
  font-weight: bold;
}
a:hover {
  color: #0adad7;
  text-decoration: none;
}
.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 100px 120px;
  max-width: 1440px;
  margin: 0 auto;
  justify-content: space-between;
}
.section__title {
  margin-right: 70px;
  color: #0adad7;
  text-transform: uppercase;
  text-align: left;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 22px;
}
.section__content {
  font-weight: 300;
  font-size: 1rem;
  width: 100%;
  max-width: 650px;
}
.section__content p {
  margin-top: 0;
  margin-bottom: 25px;
}
.skills .skillz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.skills .skillz__category__label {
  font-weight: 700;
  color: #36363c;
  text-transform: uppercase;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.skills .skillz__category__item {
  margin: 3px 0;
  font-size: 0.9rem;
}
.experience .jobs {
  margin-bottom: 100px;
}
.experience .job {
  margin-bottom: 25px;
}
.experience .job .time-place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.featured-projects .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
  margin-left: -5%;
  width: 125%;
}
.section__presentation {
  font-weight: 300;
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  justify-content: center;
  padding: 0px 120px;
}
.section__op {
  font-weight: 300;
  font-size: 1rem;
  padding: 0px 120px;
  max-width: 1440px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.img__presentation {
  max-width: 1200px;
  padding: 30px 0px;
}
.background{
  padding: 0px 120px;
}
.featured-projects .presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}
.project__pic.phones a {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.featured-projects .project__pic {
  max-width: 700px;
  overflow: visible;
  margin: 0;
}
.phone {
  margin-top: -10px;
}
.featured-projects .project__caption {
  width: 125px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-left: 30px;
}
.other-projects .project {
  max-width: 600px;
  margin-bottom: 50px;
}
.other-projects .project__name {
  margin-bottom: 10px;
}
.other-projects .project p {
  font-size: 0.9rem;
  margin-bottom: 20px;
}
.other-projects .project__used__item:first-of-type {
  margin-left: 0;
}
.other-projects .project__used__item {
  display: inline-block;
  margin: 3px 3px 3px 0;
  margin-left: 0px;
  font-family: Inconsolata, monospace;
  font-size: 0.75rem;
  font-weight: 700;
  padding: 2px 7px;
  border-radius: 3px;
  color: #0adad7;
  border: 1px solid #0adad7;
  background: 0 0;
}
.footer {
  padding: 50px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__copyright {
  font-weight: 700;
  width: 200px;
  font-size: 14px;
}
.footer__links a {
  position: relative;
  display: inline-block;
  color: #007bff !important;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 15px;
  outline: 0;
}
.footer__links a::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #007bff;
  content: "";
  opacity: 0;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.footer__links a .text {
  font-size: 0.9rem;
  display: inline;
  letter-spacing: 1px;
}
.footer__links a {
  color: #0adad7 !important;
  text-transform: uppercase;
  font-weight: 700;
}
#top-button {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: 0 0;
  border: none;
  outline: 0;
  width: 40px;
  position: fixed;
  bottom: 45px;
  right: 10px;
  cursor: pointer;
  display: none;
}
#top-button {
  cursor: pointer;
}
#top-button:hover {
  position: fixed;
  bottom: 35px;
  right: 10px;
}
#top-button img {
  width: 100%;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
.rock {
  width: 20px;
  height: 20px;
  margin: 0 3px;
  vertical-align: text-bottom;
}
#popup {
  display: "inline-block";
  opacity: 0;
  font-size: 16px;
}
.inandout {
  animation: fadeOut 1s;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.switch-wrapper .toggle-wrapper #switch:checked + label {
  background: #bae67e;
}
.switch-wrapper .toggle-wrapper #switch:checked + label::after {
  left: calc(100% - 3px);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.section__title::after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 200px;
  background-color: rgb(45, 57, 82);
  position: relative;
  top: -6px;
  margin-left: 20px;
}
.switch-wrapper-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 30px;
  left: 30px;
}
.switch-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 30px;
}
.switch-wrapper .sun {
  background: url(../img/switch/sun.svg) no-repeat center;
  background-size: auto auto;
  background-size: 100%;
}
.switch-wrapper .moon,
.switch-wrapper .sun {
  width: 17px;
  height: 17px;
}
.switch-wrapper .toggle-wrapper #switch {
  height: 0;
  width: 0;
  visibility: hidden;
  position: absolute;
}
.switch-wrapper .toggle-wrapper label {
  cursor: pointer;
  text-indent: -9999px;
  width: 45px;
  height: 25px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}
.switch-wrapper .toggle-wrapper label::after {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 19px;
  height: 19px;
  background: #fff;
  border-radius: 100%;
}
.switch-wrapper .moon {
  background: url(../img/switch/moon.svg) no-repeat center;
  background-size: auto auto;
  background-size: 100%;
}
.switch-wrapper .toggle-wrapper {
  margin: 10px;
}
body.night,
html.night {
  background-color: #171c28;
  color: #afafbf;
}
body.night a {
  color: white;
}
body.night .skills .skillz__category__label {
  color: white;
}
body.night .switch-wrapper .sun,
html.night .switch-wrapper .sun {
  background: url(../img/switch/sun-white.svg) no-repeat center;
  background-size: auto auto;
  background-size: 100%;
}
body.night .switch-wrapper .moon,
html.night .switch-wrapper .moon {
  background: url(../img/switch/moon-white.svg) no-repeat center;
  background-size: auto auto;
  background-size: 100%;
}
@media (max-width: 768px) {
    .img__presentation {
        max-width: 768px;
    }
    .skillz {
        flex-flow: wrap;
    }
}
@media (max-width: 425px) {
  .mail {
    font-size: 16px;
    margin-top: 25px;
  }
  .tagline{
    font-size: 1.5rem;
    padding-bottom: 210px;
    padding-top: 30px;
  }
  .app {
    display: none;
  }
  .git{
    padding-top: 100px;
  }
  .intro {
    padding: 20px 50px;
    background-size: 26vh;
    background-position: center 350px;
  }
  .section__title::after {
    margin-left: 0px;
  }
  .img__presentation {
    max-width: 75vw;
  }
  .highlight-link {
    display: inline-block;
    padding: 15px 5px;
    font-size: 16px;
  }
  .section {
    display: block;
    padding: 20px 50px;
  }
  .section__content p {
    font-size: 15px;
  }
  .section__title {
    padding-bottom: 20px;
    margin-right: 0px;
    text-align: left;
    font-size: 16px;
  }
  .skillz {
    flex-flow: wrap;
  }
  .skillz__category {
    width: 35vw;
    margin-bottom: 15px;
  }
  .job__position {
    width: 55vw;
  }
  .job__time {
    font-size: 12px;
  }
  .experience .jobs {
    margin-bottom: 50px;
  }
  .featured-projects .project {
    width: 100%;
    flex-flow: column;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .featured-projects .project__caption {
    width: 100%;
    margin-left: 0px;
  }
  .other-projects {
    padding-bottom: 20px;
  }
  .footer {
    display: block;
    padding: 20px 20px;
  }
  .footer__copyright {
    width: 100%;
    text-align: center;
  }
  .footer__links {
    text-align: center;
  }
  #top-button {
    bottom: 75px;
  }
}
